<header>
   #name crate_small
   #type OBJECT
   #displayName Crate
</header>

<world>
   #body BOX (0,0,0) 48 48 48
</world>

<object>
   #obtainable false
   #objectType STATIC
   #combined true
</object>

<graphics>
   <animations>
      #add standing crate_small.as
   </animations>
</graphics>