<header>
   #name wall_floor_tile
   #type OBJECT
   #displayName Wall_Floor_Tile
</header>

<world>
   #body BOX (0,8,0) 64 64 8
   #respondsToGravity false
</world>

<object>
   #obtainable false
   #objectType STATIC
   #combined true
</object>

<graphics>
   <animations>
      #add standing wall_floor_tile.as
   </animations>
</graphics>