<header>
   #name wall_bottom_right
   #type OBJECT
   #displayName Wall
</header>

<world>
   #body BOX (0,112,0) 64 16 64
   #body BOX (48,-48,0) 16 48 64
   #respondsToGravity false
</world>

<object>
   #obtainable false
   #objectType STATIC
   #combined true
</object>

<graphics>
   <animations>
      #add standing wall_bottom_right.as
   </animations>
</graphics>