<header>
   #name wall_horizontal
   #type OBJECT
   #displayName Wall
</header>

<world>
   #body BOX (0,64,0) 64 16 64
   #respondsToGravity false
</world>

<object>
   #obtainable false
   #objectType STATIC
   #combined true
</object>

<graphics>
   <animations>
      #add standing wall_horizontal.as
   </animations>
</graphics>